<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Debugged Cafe</title>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <div>
        <img src='/static/ants.svg' alt='Debugged Cafe' />
        <h1>Debugged Cafe</h1>
      </div>
      <ul>  
        <li><a href='/'>Home</a></li>
        <li><a href='/coffee'>Coffee</a></li>
        <li><a href='/partners'>Partners</a></li>
        <li><a href='/about'>About</a></li>
      </ul>
    </header>
    <section id='about'>
      <div>
        <h2>
          Welcome to Debugged Cafe<h3>Where our coffee is sure to give you a buzz!</h3>
        </h2>
        <p>
          We are an environmently conscious local coffee shop based in Richmond, VA. 5 years ago, a group of tired programmers working on debugging their code had a "bee-utiful" idea to create a coffee shop for programmers. Combining their passion for environment sustaibability and making others happy, they opened Debugged Cafe!
        </p>
        <p id='lastAboutText'>
          When most people think of bugs, they neglect the nutritional value of the little critters. Bugs are a highly sustainable source of protein that require much less maintainance and have a much smaller impact on the environment than traditional livestock. At Debugged Cafe, we combine the exotic yet familar flavors of bugs with coffee to create a unique experience while also raising public awareness about the potential of bugs. One of our sources of inspiration (aside from the bug puns!) was Sourdough, a novel by Robin Sloan. In one scene, the main character encounters an innovative baker who uses cricket flour. Our coffees have the same principle: to make great nutritious and sustainable food! 
        </p>
      </div>
    </section>
  </body>
</html>