<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Debugged Cafe</title>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <div>
        <img src='/static/ants.svg' alt='Debugged Cafe' />
        <h1>Debugged Cafe</h1>
      </div>
      <ul>  
        <li><a href='/'>Home</a></li>
        <li><a href='/coffee'>Coffee</a></li>
        <li><a href='/partners'>Partners</a></li>
        <li><a href='/about'>About</a></li>
      </ul>
    </header>
    <section>
      <ul>
        <h2>Coffee with a Crunch (With Bug)</h2>
        <li>cricket roasted latte (nutty and smoky)</li>
        <li>leafcutter ant espresso (pistachio)</li>
        <li>beetle iced coffee (extra protein)</li>
        <li>chocolate-grasshopper almondmilk mocha</li>
        <li>stinkbug black roast (apple and cinnamon)</li>

        <h2>Ordinary Joes (Bugless)</h2>
        <li>chestnut and praline latte</li>
        <li>pistachio espresso</li>
        <li>iced dark roast</li>
        <li>cinnamon black roast</li>
        <li>espresso</li>
        <li>cappuccino</li>
        <li>vihaan's water-free water</li>
        <li>kera's sugar-free caramel iced coffee from wawa</li>
      </ul>
    </section>
  </body>
</html>