<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Debugged Cafe</title>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <div>
        <img src='/static/ants.svg' alt='Debugged Cafe' />
        <h1>Debugged Cafe</h1>
      </div>
      <ul>  
        <li><a href='/'>Home</a></li>
        <li><a href='/coffee'>Coffee</a></li>
        <li><a href='/partners'>Partners</a></li>
        <li><a href='/about'>About</a></li>
      </ul>
    </header>
    <section>
      <ul>
        <h2>The York Roasting Plant: Also a Starbucks partner!</h2>
        <h2>Treehuggers: Our sustainable bug supplier!</h2>
      </ul>
    </section>
  </body>
</html>